@using TestProduct.BAL.Model;
@model Product
@{
    ViewBag.Title = "Home Page";
}

@using(Html.BeginForm()){

    <div class="col-md-12">
        <div class="row col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name, new { @class = "from-control" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "from-control" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Category)
                @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.CategoryList, new { @class = "form-control" })
            </div>
            <input type="submit" title="Submit" class="btn btn-default"/>
        </div>
    </div>
} 