@model List<TestProduct.BAL.Model.ProductAttributeMap>

@*@foreach (var map in Model)
    {
        @Html.Label(map.Attribute.Name)
        @Html.TextBox("Attribute", map.Value, new { @class = "form-control" })
    }*@

@for (var i = 0; i < Model.Count; ++i)
{
    @Html.HiddenFor(m => m[i].Attribute.Id)
    @Html.HiddenFor(m => m[i].AttributeId)
    <tr>
        <td>@Html.DisplayFor(m => m[i].Attribute.AttributeName)</td>
        <td>@Html.TextBoxFor(m => m[i].Value, new { @class = "form-control" })</td>
    </tr>
}


